.footer{
    color: $text-cl-light;
    position: relative;
    z-index: 10;
    &__bottom{
        padding: 20px 0;
        background: $black-bg-cl;
        color: $text-cl-light;
    }
    &__lang{
        justify-content: flex-end;
        p{
            text-transform: initial !important;
            font-size: 14px !important;
        }
        a{
            background: $red-cl !important;
            border: 1px solid $red-cl !important;
            color: $text-cl-light !important;
            &:hover{
                background: $bg-cl-white !important;
                color: $red-cl !important;
            }
        }
    }
    &__top{
        width: 100%;
        background: url(../images/bg-ft.jpg) repeat center;
        padding: 50px 0;
        position: relative;
        .container{
            position: relative;
        }
    }
    &__title{
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__list{
        li{
            padding: 2px 0;
            a{
                color: $text-cl-light;
                transition: $t;
                &:hover{
                    color: $text-cl;
                }
            }
        }

    }
    &__phone{
        font-size: 28px;
        color: $text-cl-light;
        font-weight: bolder;
        transition: $t;
        &:hover{
            color: $text-cl;
        }
    }
    &__social{
        display: flex;
        a{
            width: 35px;
            height: 35px;
            margin-right: 8px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $t;
            svg{
                fill: $red-cl;
            }
            &:hover{
                background-color: $red-cl-dark;
                svg{
                    fill: $text-cl-light;
                }
            }
        }
    }
}
.backToTop{
    position: absolute;
    width: 50px;    
    height: 50px;
    border-radius: 50%;
    top: -74px;
    right: 15px;
    background: aliceblue;
    display: flex;
    border: 1px solid $bg-cl-white;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 6px 22px -1px #0000006b;
    cursor: pointer;
    transition: $t;
    &:hover{
        border-color: $red-cl;
    }
}


@media (max-width: $xs-max){
    .header{
        &-top{
            &__lang{
                justify-content: initial;
            }
        }
    }
}